@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body{
    font-family: 'Tangerine', serif;
    scroll-behavior: smooth;
    background-color: #1C1E25;
    color: #F5F5F5;
}

header{
    z-index: 10001 !important;
}

span{
    color: #20B2AA !important;
}

button{
    color: #20B2AA !important;
}

.cursor-pointer:hover{
    color: #20B2AA;
}

.download:hover{
    color: #20B2AA;
}

.logo{
        font-size: 45px;
        text-shadow: 4px 4px 4px #5f9996;
}

